@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;500&display=swap');
body {
    background-color: #94C16C;
	margin: 0px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}
.validator {
	align-items: center;
	text-align: center;
}
h1,
h2,
h3 {
	font-family: 'Cookie';
	margin: 5px 0 5px;
	font-weight: 400;
}
.bg-img {
	background-image: url('../images/Garden.jpg ');
	min-height: 250px;
	min-width: 100%;
	height: auto;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border: solid;
		border-color: #0d3a0c;
	  
}
#main_heading {
	font-size: 50px;
	color: #f8f8f8;
	padding: 5px 10px;
	position: absolute;
	left: 0 !important;
	background-color: rgba(74, 137, 51, 0.4);
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #405d27;
	color: #fff;
	height: 100px;
  }
  /* -------------------   NavbaR       -----------*/
.navbar {
	border-radius: 0;
	padding: 0;}

	

  

  .navbar-toggler:focus {
	box-shadow: none ;
}


  .navbar-brand  {
	margin-left: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #0d3a0c;
  }
  .fa-house {
	color: #0d3a0c;
  }
  .nav-link {
	color: #0d3a0c;
	font-size: 16px;
	margin-right: 20px;
	padding-right: 20px;
	margin-left: 20px;
	;
	  }

  #navbarSupportedContent {
	margin: 0;
	padding: 0;
	border: 0;
  }
  .dropdown-item {
	text-decoration: underline;
	font-size: 16px;
	background-color: rgba(131, 176, 113, 0.984);
	color: #0d3a0c;
  }
  .dropdown-menu.show {
	margin: 0;
	padding: 0;
  }
 
  



/* About Section */

#home_container h2 {
	font-size: 60px;
	color: #0d3a0c;
	text-align: center;
}

#home_container {
	font-size: 16px;
	text-align: center;
	color: #0d3a0c;
	padding: 20px 20px 5px 20px;
}

.sub_heading {
	color: #0d3a0c;
	text-align: center;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	display: block;
	font-size: 30px;
	margin: 5px auto 5px auto;
}


/* Code for Health Tips found here:*/

.bg-grow {
	background-image: url('../images/Grow.jpg ');
	min-height: 200px;
	max-width: 100%;
	height: auto;
    background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border: solid;
		border-color: #0d3a0c;
}

#health-tips-section {

	height: 500px;
	margin-bottom: 10px;
}

#left-about {
    padding-top: 30px;
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 0;
    margin-right: 20px; /* Add a margin to the right */
  }

  #right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
    text-align: right;
    margin-left: 20px; /* Add a margin to the left */
    margin-right: 0;
  }

  #left-about h2,
  #right-about h2 {
    font-size: 30px;
    color: #0d3a0c;
	text-align: center;
  }

  #left-about p {
    font-size: 14px;
    color: #0d3a0c;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px; /* Remove the margin on the right */
  }

  #right-about p {
    font-size: 14px;
    color: #0d3a0c;
    text-align: center;
    margin-left: 10px; /* Remove the margin on the left */
    margin-right: 30px;
  }

#health-tips-heading {
    font-size: 70px;
	font-family: 'Cookie', cursive;
	text-align: center;
	color: #0d3a0c;
	margin-top: 30px;
	padding: 10px 10px 15px 10px;

}
/* center image */


#center-about {
    width: 33%;
    margin: 0 auto;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
}
#circle-cover-bg {
    background-image: url('../images/health.jpg ');
    height: 100%;
    border-radius: 50%;
	background-size:auto;
	background-position: center;
	background-repeat: no-repeat;
	border: solid;
	border-color: #0d3a0c;
}


/* Form */


.fa-pepper-hot {
	color: red;
	position: sticky;
	left:33%;
	margin-bottom: 30px;
}
.greenpepper {
	color: green;
	position: sticky;
	left:66%;
}
.yellowpepper {
	color: yellow;
	position: sticky;
	left:50%;
}
.row {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 20px;
	background-size: cover;
	background-position: center bottom 50px;
	height: auto;
	width: 100%;
}

#form-section {
	margin-left: 10px;
	margin-right: 10px;
	background-size: cover;
	background-position: center bottom 50px;
	height: auto;
	padding: 20px;
}
  .sign-up-page {
	position: relative;
  }
  .sign-up-form {
	margin-top: 10px;
	color: #0d3a0c;
	width: 90%;
	align-items: center;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
  }
  .sign-up-form h2 {
	color: #0d3a0c;
	margin-bottom: 20px;
  }
  .text-input {
	background-color: transparent;
	color: #0d3a0c;
	width: 100%;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	border: 1px solid #0d3a0c;
	border-radius: 2px;
  }
  .text-input:hover {
	border-color: #0f0f0f;
  }
  .join-button {
	margin-top: 20px;
	text-align: center;
	font-size: 50px;
	font-family: 'Cookie';
	background-color: #94C16C;
	color: #0d3a0c;
	display: block;
	align-items: center;
	border-radius: 25%;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	-ms-border-radius: 25%;
	-o-border-radius: 25%;
}
  .join-button:hover {
	background-color: #405d27;
	color: white;
  }
 

  /* photos of grow */

  .bg-lemon {
	background-image: url('../images/lemon.jpg ');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
	margin-left: 10px;
	border: solid;
		border-color: #0d3a0c;
  }
  .bg-strawberry {
	background-image: url('../images/strawberry.jpg ');
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	height: auto;
	margin-right: 10px;
	border: solid;
		border-color: #0d3a0c;
	  }



/* Footer */

.footer {
	margin: 10px;
	padding: 20px 0;
  }
  .footer .social-networks {
	gap: 10px;
	margin-bottom: 5px;
  }
  .footer .social-networks li {
	list-style: none;
  }
  .footer .social-networks a {
	font-size: 16px;
  }
  footer {
	height: 100px;
	padding: 10px;;
  }
  .footer p {
	text-align: center;
  }
  .social-networks {
	text-align: center;
	margin: 0;
	padding: 0;
  }
  .social-networks li {
	display: inline;
  }
  .social-networks i {
	font-size: 100%;
	margin: 1%;
	color: #0d3a0c;
  }


/* Human Body Section */


 .section-heading {
	text-align: center;
	font-size: 50px;
	color: #0d3a0c;
 }
 i {
	color: #0d3a0c;}

	.facts-list {
		list-style-type: none; /* Remove default bullet points */
		padding-left: 0;
	  }
	  .facts-list li {
		position: relative;
		padding-left: 1.5em;
		margin-bottom: 5px;
    	padding-top: 5px;
		padding-right: 1.5em;
	  }
	  .facts-list li::before {
		position: absolute;
		left: 0;
		top: 0.25em;
	  }
	  .video-container {
		width: 100%;
		height: 400px;
		margin-bottom: 10px;
		border: solid;
		border-color: #0d3a0c;
	  }
 /* Video Section */

	.video-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
	}


   /* Media query for mobile and tablet devices */

   
   @media (max-width: 380px) {
	.sign-up-form {
		width: 100%;
		padding: 0;
	}
	.sign-up-form h2 {
		font-size: 20px;
	}
	.video-container {
		width: 80%;
		height: 100px;
		margin-bottom: 10px;
	  }
}

   @media (max-width: 567px) {

	#main_heading {
		font-size: 30px;
	}
#health-tips-section {
	height: 400px;
}
	#home_container h2 {
		font-size: 25px;
	}
	#home_container p {
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#health-tips-heading {
		font-size: 25px;
	}
	#left-about h2, #right-about h2 {
		font-size: 25px;
	}
	#left-about p {
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px;
	  }
	  #right-about p {
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px;
	  }

	  /* Human Body */

	  .section-heading {
		font-size: 40px;
	  }
	  .facts-list li {
		font-size: 12px;
	  }
	  .sign-up-form {
		font-size: 10px;
	  }

}

@media (max-width: 991px) {
	.nav-link {
		margin-left: 2px;
	}
	.bg-lemon, .bg-strawberry {
		display: none;
	}
	.video-container {
		width: 100%;
		height: 200px;
		margin-bottom: 10px;
	  }
}

@media (max-width: 1297px) {
	#health-tips-section{
        width: 90%;
        margin: 0 auto;
    }
	#health-tips-heading {
		margin: 0;
		padding-bottom: 5px;

	}
	hr {
		display: none;
	}
#circle-cover-bg {
	display: none;
}
#left-about , #right-about {
	width:100%;
	float:left;
	padding: 0;
	margin: 0;
}
#right-about p {
	text-align: left;
	margin: 0;
	padding: 0;
}
#left-about p {
	text-align: left;
	margin: 0;
	padding: 0;
}
#center-about{
	clear: both;
	width: 100%;
	float: left;
	padding: 0;
}
.left-about-heading, .right-about-heading{
	width: inherit;
}

.left-about-heading h2, .right-about-heading h2{
	width: 100%;
	text-align: center;
}

.left-about-heading p, .right-about-heading p{
	text-align: left;
	padding: 0;
	margin: 0;
}
#circle-container {
	display: none;
}
.sign-up-form {
	margin-top: 10px;
	padding-top: 10px;
}
   }








