@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;500&display=swap');
body {
    background-color: rgba(131, 176, 113, 0.984);
	margin: 0px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Cookie', cursive;
	margin: 5px 0 5px;
	font-weight: 400;
}
.bg-img {
	background-image: url('../images/Garden.jpg ');
	min-height: 250px;
	min-width: 100%;
	height: auto;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


#main_heading {
	
	font-size: 50px;
	color: #f8f8f8;
	padding: 5px 10px;
	position: absolute;
	left: 0 !important;
	
	background-color: rgba(74, 137, 51, 0.4);
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #405d27;
	color: #fff;
	height: 100px;
  }
  /* -------------------   NavbaR       -----------*/
.navbar {
	border-radius: 0;
	padding: 0;
  }
  
  
  .navbar-brand  {
	margin-left: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #0d3a0c;
	
  }
  .fa-house {
	color: #0d3a0c;
  }
  
  .nav-link {
	color: #0d3a0c;
	font-size: 16px;
	margin-right: 20px;
	padding-right: 20px;
	margin-left: 20px;
	
  }
  #navbarSupportedContent {
	margin: 0;
	padding: 0;
	width: 500;
  }
  
  .dropdown-item {
	text-decoration: underline;
	font-size: 16px;
	background-color: rgba(131, 176, 113, 0.984);
	color: #0d3a0c;
  }
  .dropdown-menu.show {
	margin: 0;
	padding: 0;
  }
  
/* About Section */

#home_container h2 {
	font-size: 60px;
	color: #0d3a0c;
	text-align: center;
}

#home_container {
	
	font-size: 16px;
	text-align: center;
	color: #0d3a0c;
	padding: 20px 20px 5px 20px;
}

.sub_heading {
	color: #0d3a0c;
	text-align: center;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	display: block;
	font-size: 30px;
	margin: 5px auto 5px auto;
}


/* Code for Health Tips found here:*/

.bg-grow {
	background-image: url('../images/Grow.jpg ');
	min-height: 200px;
	max-width: 100%;
	height: auto;
    background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#health-tips-section {

	height: 500px;
	margin-bottom: 10px;
}

#left-about {
    padding-top: 30px;
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 0;
    margin-right: 20px; /* Add a margin to the right */
  }

  #right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
    text-align: right;
    margin-left: 20px; /* Add a margin to the left */
    margin-right: 0;
  }

  #left-about h2,
  #right-about h2 {
    font-size: 30px;
    color: #0d3a0c;
	text-align: center;
  }

  #left-about p {
    font-size: 14px;
    color: #0d3a0c;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px; /* Remove the margin on the right */
  }

  #right-about p {
    font-size: 14px;
    color: #0d3a0c;
    text-align: center;
    margin-left: 10px; /* Remove the margin on the left */
    margin-right: 30px;
  }

#health-tips-heading {
    font-size: 70px;
	font-family: 'Cookie', cursive;
	text-align: center;
	color: #0d3a0c;
	margin-top: 30px;
	padding: 10px 10px 15px 10px;

}
/* center image */
#center-about {
    width: 33%;
    margin: 0 auto;
	
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
	
}

#circle-cover-bg {
    background: url("'../images/health.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
	
}


/* Form */
.fa-pepper-hot {
	color: red;
	position: sticky;
	left:33%;
	margin-bottom: 30px;
}
.greenpepper {
	color: green;
	position: sticky;
	left:66%;
}
.yellowpepper {
	color: yellow;
	position: sticky;
	left:50%;
}

#form-section {
	clear: left;
	background-size: cover;
	background-position: center bottom 50px;
	height: 500px;
  }
  
  .sign-up-page {
	position: relative;
  }
  .sign-up-form {
	margin-top: 10px;
	color: #0d3a0c;
	background-color: rgba(131, 176, 113, 0.984);
	width: 90%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	
  }
  
  .sign-up-form h2 {
	color: #0d3a0c;
	margin-bottom: 20px;
	
  }
  
  .text-input {
	background-color: transparent;
	color: #0d3a0c;
	width: 100%;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	border: 1px solid #0d3a0c;
	border-radius: 2px;
  }
  
  .text-input:hover {
	border-color: #0f0f0f;
  }
  
  .join-button {
	margin-top: 20px;
	border-radius: 2px;
	padding-top: 15px;
	padding-right: 32px;
	padding-bottom: 15px;
	padding-left: 32px;
	text-align: center;
	font-size: 100%;
	background-color: #405d27;
	color: #0d3a0c;
	display: block;
  }
  
  .join-button:hover {
	background-color: #0d3a0c;
	color: #405d27;
  }
  #updates {
	color: #0d3a0c;
  }


/* Footer */

.footer {
	margin: 10px;
	padding: 20px 0;
  }
  
  .footer .social-networks {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 5px;
  }
  
  .footer .social-networks li {
	list-style: none;
  }
  
  .footer .social-networks a {
	font-size: 16px;
  }
  
  footer {
	height: 100px;
  }
  .footer p {
	text-align: center;
  }
  
  .social-networks {
	text-align: center;
  }
  
  .social-networks li {
	display: inline;
  }
  
  .social-networks i {
	font-size: 100%;
	margin: 1%;
	color: #0d3a0c;
  }

/* Human Body Section */
 .section-heading {
	text-align: center;
	font-size: 50px;
	color: #0d3a0c;
 }
 i {
	color: #0d3a0c;}

	.facts-list {
		list-style-type: none; /* Remove default bullet points */
		padding-left: 0;
	  }
	  .facts-list li {
		position: relative;
		padding-left: 1.5em; /* Space for the icon */
		margin-bottom: 5px; /* Adds space below each list item */
    	padding-top: 5px; /* Adds space above each list item */
		padding-right: 1.5em;
	  }
	  .facts-list li::before {
		position: absolute;
		left: 0;
		top: 0.25em; /* Adjust the vertical position of the icon */
	  }
 /* Video Section */

	  .row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	  }
	
	  .col-md-6 {
    flex: 0 0 calc(50% - 20px); /* Each column takes up 50% of the row width minus 20px spacing */
    max-width: calc(50% - 20px);
    margin: 10px; /* Adds 10px margin on all sides */
	padding: 10px;
  }
   /* Media query for mobile and tablet devices */

   @media (max-width: 1297px) {
	#health-tips-section{
        width: 90%;
        height: 550px;
        margin: 0 auto;
    }
	#health-tips-heading {
		margin: 0;
		padding-bottom: 5px;

	}
	hr {
		display: none;
	}
#circle-cover-bg {
	display: none;
}   
#left-about , #right-about {
	width:100%;
	float:left;
	padding: 0;
	margin: 0;
}
#right-about p {
	text-align: left;
	margin: 0;
	padding: 0;
}
#left-about p {
	text-align: left;
	margin: 0;
	padding: 0;
}
#center-about{
	clear: both;
	width: 100%;
	float: left;
	padding: 0;
}
.left-about-heading, .right-about-heading{
	width: inherit;
}

.left-about-heading h2, .right-about-heading h2{
	width: 100%;
	text-align: center;
}

.left-about-heading p, .right-about-heading p{
	text-align: left;
	padding: 0;
	margin: 0;
}
#circle-container {
	display: none;
}
.sign-up-form {
	margin-top: 50px;
	padding-top: 50px;
}
   }
   @media (max-width: 991px) {
.nav-link {
	
	margin-left: 2px;
}   
}
   @media (max-width: 567px) {
	

	#main_heading {
		font-size: 30px;
	}
#health-tips-section {
	height: 400px;
}
	#home_container h2 {
		font-size: 25px;
	}
	#home_container p {
		font-size: 10px;
		margin-left: 10px; /* Remove the margin on the left */
		margin-right: 10px;
	}
	#health-tips-heading {
		font-size: 25px;
	}
	#left-about h2, #right-about h2 {
		font-size: 25px;
	}
	#left-about p {
		font-size: 10px;
		margin-left: 10px;
		margin-right: 10px; /* Remove the margin on the right */
	  }
	
	  #right-about p {
		font-size: 10px;
		margin-left: 10px; /* Remove the margin on the left */
		margin-right: 10px;
	  }

	  /* Human Body */

	  .section-heading {
		font-size: 25px;
	  }
	  .facts-list li {
		font-size: 12px;
	  }
	  .sign-up-form {
		font-size: 10px;
	  }
}
@media (max-width: 380px) {
	.sign-up-form h2 {
		font-size: 20px;
	}
}
@media (max-width: 1100px) {

	.col-md-6 {
		flex: 0 0 calc(100% - 1px); /* Each column takes up 50% of the row width minus 20px spacing */
		max-width: calc(100% - 1px);
		margin: 0;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 1px;
		padding-bottom: 1px;
	  }

}





