@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300;500&display=swap');
body, html {
	min-width: 450px;
	background-color: #ebdea8;
	color: #405d27;
	font-family: 'Raleway', sans-serif;
}
.validator {
	align-items: center;
	text-align: center;
}
h1,
h2,
h3 {
	font-family: 'Cookie';
	margin: 5px 0 5px;
	font-weight: 700;
}
hr {
	color: #ebdea8;
	
}

.bg-img {
	background-image: url('../images/Garden.jpg ');
	height: 50vh;
	width: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border: solid;
		border-color: #3e4444;
		object-fit: fill;
	  
}
#main_heading {
	font-size: 50px;
	color: #f8f8f8;
	padding: 5px 10px;
	position: absolute;
	left: 0 !important;
	background-color: rgb(64, 93, 39, 0.6);
	
}
  /* -------------------   NavbaR       -----------*/
  .header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #405d27;
	color: #fff;
	height: 100px;
  }
.navbar {
	border-radius: 0;
	padding: 0;}

  .navbar-toggler:focus {
	box-shadow: none ;
}


  .navbar-brand  {
	margin-left: 25px;
	font-size: 20px;
	font-weight: 700;
	color: #3e4444;
  }
  .navbar-brand:hover {
	color: #82b74b;
  }
  .fa-house {
	color: #3e4444;
  }
  .nav-link {
	color: #405d27;
	font-size: 20px;
	margin-right: 20px;
	padding-right: 20px;
	margin-left: 20px;
	font-weight: 700;

	  }
	  .nav-link:hover {
		color: #82b74b;
	  }

  #navbarSupportedContent {
	margin: 0;
	padding: 0;
	border: 0;
  }
  .dropdown-item {
	text-decoration: underline;
	font-size: 18px;
	font-weight: 300px;
	color: #3e4444;
	
  }
  .dropdown-item:hover {
	background-color: #405d27;
	color: #c1946a;
  }
  
  .dropdown-menu.show {
	margin: 0px;
	padding: 0px;
	background-color: #82b74b;
	border: #405d27 3px solid;;
	
	
}

/* About Section */

#home_container h2 {
	
	color: #3e4444;
	text-align: center;
}

#home_container {
	text-align: center;
	color: #405d27;
	padding: 20px 20px 5px 20px;
}


/* Code for Health Tips found here:*/

.health-section {
background-color: #405d27;
	height: 70vh;
	margin-top: 10px;	
}

#left-about {
    padding-top: 30px;
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 0;
    margin-right: 20px; /* Add a margin to the right */
  }

  #right-about {
    padding-top: 30px;
    width: 40%;
    float: right;
    text-align: right;
    margin-left: 20px; /* Add a margin to the left */
    margin-right: 0;
  }

  #left-about h2,
  #right-about h2 {
    
    color: #82b74b;
	text-align: center;
  }

  #left-about p {
    color: #ebdea8;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px; /* Remove the margin on the right */
  }

  #right-about p {
    color: #ebdea8;
    text-align: center;
    margin-left: 10px; /* Remove the margin on the left */
    margin-right: 30px;
  }
h2 i {
	color: #c1946a;
}

/* center image */


#center-about {
    width: 33%;
    margin: 0 auto;
}
#circle-container {
    width: 400px;
    height: 400px;
    padding: 30px;
    margin: 0 auto;
}
#circle-cover-bg {
    background-image: url('../images/health.jpg ');
    height: 100%;
    border-radius: 50%;
	background-size:auto;
	background-position: center;
	background-repeat: no-repeat;
	border: solid;
	border-color: #82b74b;
}


/* sign in section */
section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	
}
section .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	pointer-events: none;
	overflow: hidden;
}

section .boy {
	bottom: 70px;
	position: absolute;
	scale: 1;
	pointer-events: none;
	animation: animateBoy 15s linear infinite;
	overflow: hidden;
	-webkit-animation: animateBoy 15s linear infinite;
}
.boy {
	height: 350px;
}
@keyframes animateBoy {
	0%{
		transform: translateX(calc(100% + 200vw));
		-webkit-transform: translateX(calc(100% + 200vw));
		-moz-transform: translateX(calc(100% + 200vw));
		-ms-transform: translateX(calc(100% + 200vw));
		-o-transform: translateX(calc(100% + 200vw));
}
	50%{
		transform: translateX(calc(100% - 200vw));
		-webkit-transform: translateX(calc(100% - 200vw));
		-moz-transform: translateX(calc(100% - 200vw));
		-ms-transform: translateX(calc(100% - 200vw));
		-o-transform: translateX(calc(100% - 200vw));
}
	50.01%{
		transform: translateX(calc(100% - 200vw)) rotateY(180deg);
		-webkit-transform: translateX(calc(100% - 200vw)) rotateY(180deg);
		-moz-transform: translateX(calc(100% - 200vw)) rotateY(180deg);
		-ms-transform: translateX(calc(100% - 200vw)) rotateY(180deg);
		-o-transform: translateX(calc(100% - 200vw)) rotateY(180deg);
}
	100%{
		transform: translateX(calc(100% + 200vw)) rotateY(180deg);
		-webkit-transform: translateX(calc(100% + 200vw)) rotateY(180deg);
		-moz-transform: translateX(calc(100% + 200vw)) rotateY(180deg);
		-ms-transform: translateX(calc(100% + 200vw)) rotateY(180deg);
		-o-transform: translateX(calc(100% + 200vw)) rotateY(180deg);
}		
}
.login {
	position: relative;
	padding: 60px;
	background: rgba(255,255,255,0.25);
	backdrop-filter: blur(5px);
	border: 1px solid #fff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
	border-radius: 20px;
	width: 400px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}
.login h2 {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	color: #ebdea8;
	margin-bottom: 10px;
}
.login .inputBox {
	position: relative;
}
.login .inputBox input {
	position: relative;
	width: 100%;
	padding: 15px 20px;
	outline: none;
	font-size: 1.25em;
	font-weight: 600;
	color: #3e4444;
	border-radius: 5px;
	border: none;
	margin-bottom: 30px;
	
}
.login .inputBox input ::placeholder {
	color: #3e4444;
}
.login .inputBox #btn {
	position: relative;
	border: none;
	outline: none;
	background: #405d27;
	color: #ebdea8;
	cursor: pointer;
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 2px;
	transition: 0.5s;
}


.login .inputBox #btn:hover {
	background: #82b74b;
	color: #000;
	font-weight: 800;
}

/* Footer */

.footer {
	margin: 0;
	padding: 0;
  }
  .footer .social-networks {
	gap: 10px;

  }
  .footer .social-networks li {
	list-style: none;
  }
  .footer .social-networks a {
	font-size: 16px;

  }
  footer {
	height: 100px;
	padding: 10px;;
  }
  .footer p {
	text-align: center;
  }
  .social-networks {
	text-align: center;
	margin: 0;
	padding: 0;
  }
  .social-networks li {
	display: inline;
  }
  .social-networks i {
	font-size: 100%;
	margin: 1%;
	color: #c1946a;
  }
  .social-networks i:hover {
	color: #82b74b;
  }


/* Human Body Section */


 .section-heading {
	text-align: center;
	margin: 10px;
	
 }
 i {
	color: #d64c42;
	margin-left: 10px;
}

	.facts-list {
		list-style-type: none; 
		padding-left: 0;
	  }
	  .facts-list li {
		position: relative;
		padding-left: 1.5em;
		margin-bottom: 5px;
    	padding-top: 5px;
		padding-right: 1.5em;
	  }
	  .facts-list li::before {
		position: absolute;
		left: 0;
		top: 0.25em;
	  }
	  .video-container {
		width: 100%;
		height: 400px;
		margin-bottom: 10px;
		border: solid;
		border-color: #c1946a;
	  }
 /* Video Section */
 .video {
	background-color: #405d27;
	color: #ebdea8;
	
 }

	.video-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		margin-bottom: 10px;
		width: 100%;
		margin: 20px;
		
	}
	.text-center {
		font-weight: 700;
	}

	#requests::placeholder{
 color: #405d27;
 font-weight: 500;
 

}

/* Lean to Grow */


.col {
	padding: 10px;
	margin: 10px;
}
li {
	list-style: none;
}
.videos {
	margin-bottom: 30px;
	margin-top: 30px;
}

iframe {
		border: 2px solid #c1946a

}
.pesitcides {
	background-color: #405d27;
	color: #ebdea8;
}
.basic-heading {
	margin-top: 30px;
	margin-bottom: 30px;
}
#btn {
	background: #405d27;
	color: #fff;}

	#btn:hover {
background: #82b74b;
	color: #000;
	}
	textarea {
		margin-top: 10px;
		margin-right: 40px;
		margin-left: 30px;
		margin-bottom: 10px;
		padding: 10px;
		border: 3px solid #82b74b;
		box-shadow: 8px 8px 8px 4px #405d27;
	}

   /* Media query for mobile and tablet devices */
  
   @media (max-width: 412px) {
	.video-container {
		width: 80%;
		height: 100px;
		margin-bottom: 10px;
	  }
	  .boy {
		display: none;
	  }
	  .leaves {
		display: none;
	  }
	  .bg{
		display: none;
	  }
	  .login {
		margin: 0;
		width: 400px;
		height: 400px;
		backdrop-filter: none;
		border: none;
		padding: 20px;
	  }
	  .login h2 {
		color: #405d27;
	  }
}


@media (max-width: 991px) {
	.video-container {
		width: 100%;
		height: 200px;
		margin-bottom: 10px;
	  }
}
@media (max-width: 1042px) {
.health-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#center-about {
	display: none;
}#right-about, #left-about {
	width: 100%;
	text-align: center;
	margin: 0;
}
}








